@page "/logn"
@rendermode InteractiveServer

<form method="post" action="/auth/login">
    <input name="username" placeholder="Username" value="admin" />
    <input name="password" type="password" value="admin" />
    <button type="submit">Login</button>
</form>
